<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="x-apple-disable-message-reformatting">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="telephone=no" name="format-detection">
        <link type="">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
            body{
                display: flex;
                justify-content: center;
                background-color: white;
            }
            .page{
                background-color: white;
                width:43%;
                border: 10px solid #a0f5bf;
            }
            .header{
                text-align: center;
                padding: 10px;
            }
            .header 
            .image{
                width: 50px;
                display: inline;
            }
            .image img{
                width: 45px;
                vertical-align: middle;

            }
            .luna{
                display: inline;
                margin-left: 4px;
                font-family: trebuchet ms, sans-serif;
                font-weight: 1000;
                font-size: 2rem;
                color:#7ca98d;
                vertical-align: middle;
                font-style:italic;
            }

            .primage img{
                width:calc(100%);
            }

            .content{
                margin: 10px;
                font-family:sans-serif;

            }
            .des{
                text-align: center;
                font-family: 'Lucida Sans Unicode', sans-serif;

            }
            .des span{
                font-weight: bold;
            }
            .btn{
                border: 3px solid #09c54e;
                width:60%;
                text-align: center;
                margin: 10px;
                padding: 5px;
                margin:auto;

            }
            .btn a{
                text-decoration: none;
                color:black;
                font-style: italic;
                font-weight: bold;
                vertical-align: middle;
            }
            .logo{
                margin: auto;
                text-align: center;
            }
            .logo a{
                all: initial;
            }
            .logo img{
                height: 1rem;

                padding: 5px;
            }
            .btn img{
                height: 1.2rem;
                vertical-align: middle;

            }
            .copyright{
                text-align: center;
                font-weight: 100;
                font-size: 0.7rem;
                font-family: Arial;
            }
            @media only screen and (max-width: 800px){
                .page{
                    width:90%;
                }
                .btn{
                    width:50%;
                }
            }
        </style>
    </head>
    <body>
        <div class="page">
            <div class="header">
                <div class="image">
                    <img src="https://static.wixstatic.com/media/2cd43b_17040a042929442094fd1a2179d5bd29~mv2.png/v1/fill/w_320,h_320,q_90/2cd43b_17040a042929442094fd1a2179d5bd29~mv2.png">
                </div>
                <div class="luna">
                    Luna Eatery
                </div>
            </div>

            <div class="primage">
                <img src="https://i.ibb.co/HTLVPh4/image16657199352374277.png">
            </div>

            <div class="content">
                <div class="des">
                    Click onto the button below to redirect your browser
                    to a site where you can reset your <span>Luna Eatery</span> account's password.
                </div>
                <br>
                <div class="btn">
                    <a href={{link}}>
                        <img src="https://i.ibb.co/6WHtLqL/moon.png">
                         RESET MY PASSWORD
                    </a>
                </div>
            </div>

            <div class="info">
                <p class="logo">
                    <a href="https://www.facebook.com/tiendatluonghong/">
                        <img src="https://cdn-icons-png.flaticon.com/512/20/20673.png">
                    </a>
                    <a href="https://www.facebook.com/tiendatluonghong/">
                        <img src="https://www.pngfind.com/pngs/m/2-23339_black-and-white-instagram-logo-instagram-logo-2018.png">
                    </a>
                    <a href="https://www.facebook.com/tiendatluonghong/">
                        <img src="https://www.pxpng.com/public/uploads/preview/-11629550269wndgq9aqpr.png">
                    </a>
                </p>

                <p class="copyright">
                    Copyright © 2022 Luna Eatery, All rights reserved.
                </p>
            </div>
        </div>
    </body>
</html>